@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Hide number input arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  accent-color: #018127; /* emerald-500 */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

